<div class='image-grid'>
	<% 50.times do %>
	<div class='image-grid-cell'>
		<img src='https://thumb1.shutterstock.com/display_pic_with_logo/1535435/446808100/stock-photo-assorted-chinese-food-set-chinese-noodles-fried-rice-dumplings-peking-duck-dim-sum-spring-446808100.jpg'>
		<div class='overlay'><span class='text-overlay image-grid-text'>Yummy Chinese Food</span></div>
	</div>

	<% end %>
</div>
