// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blog_posts-show h1{
	margin-top: 10px;
	line-height: 1.2em;
	font-size: 2.5em;
}

.blog_posts-show .blog-title{
	font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
}

.blog_posts-show .cover-photo{
	margin-bottom: 20px;
	max-height: 400px;
}

.blog_posts-show p{
    font-size: 15px; 
    line-height: 26px;

}