.carousel-control{
	color: #FFF !important;
	background-image: none !important;
}

.carousel-control:hover, .carousel-control:focus{
	background-image: none !important;
}

.carousel h2 {
	color: white !important;
}

.carousel .item{
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
