nav {
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    border-top: 1px solid #e4e6eb;
    border-bottom: 1px solid #e4e6eb;
    background-color: white;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.05);
}

nav ul{
	list-style: none;
	padding: 0;
    margin: 0;
    overflow: hidden;   
}

nav ul li{
    vertical-align: middle;
    line-height: 60px;
    padding: 0 20px;
}

nav ul li:first-child{
	float: left;
    padding-left: 0;
}

nav ul li:last-child{
    padding-right: 0;
}


nav a{
    text-decoration: none !important;
    font-size: 18px;
    color: #0F346C !important;
    font-weight: 500;
}

.right-nav{
    float: right;
    @include flexbox();
}

header {
    text-align: center;
    position: relative;
    z-index: 998;
    padding: 20px 0;
/*    height: 93vh;
    min-height: 780px;
    max-height: 93vh;*/
}

.header-text {
    position: relative;
    z-index: 998;
}

/*.full-background{
    background: url(https://cdn.pixabay.com/photo/2017/08/29/16/22/peanut-2693928_960_720.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left ;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}*/