// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recipes-show .cover_photo{
	max-height: 500px;
}

.recipes-show li{
	font-size: 14px;
}

.recipes-show p{
	font-size: 16px;
	margin-top: 1.5em;
}

.recipes-show .page-panel div {
	max-width: 800px;
}

.recipes-show .instructions li {
	margin-bottom: 20px;
}