body{
	min-height: 100vh;
    background-color: #F7F7F7;
    @include flexbox();
    @include flex-direction(column);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none !important;
}

a:link, a:visited {
    text-decoration: none;
    color: #0F346C;
}

a:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
}

* {
    font-family: Verdana, Geneva, sans-serif; 
}

.main-content{
    padding-top : 40px;
    padding-bottom: 40px;
    @include flex(1);
}

.main-text{
    color: #0F346C !important;
    font-weight: 500;
}

.image-grid {
    @include flexbox();
    @include flex-wrap(wrap); 
    margin-left: -15px;
    margin-right: -15px;
}

.image-grid-cell {
	@include flex-basis(calc(100%/3 - 30px));
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    box-shadow: 5px 10px 18px #8888;
}


.image-grid-title{
    margin: 14px;
    font-size: 15px;
    font-weight: 500;
}

.photo-section {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 34, 73, 0.7);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
	opacity: 1;
}

.text-overlay {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding:0 25px;
}

.page-panel{
    border: 1px solid #e4e6eb;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}

.left-sec{
    float: left;
    width: 30%;
}

.right-sec{
    float: right;
    width: 70%;
    padding-left: 20px;
}