<footer>
	<p class='follow-me'>Follow me</p>
	<p class='social-icons'>
		<a><%= fa_icon 'facebook' %></a>
		<a><%= fa_icon 'twitter' %></a>
		<a><%= fa_icon 'instagram' %></a>
		<a><%= fa_icon 'pinterest' %></a>
	</p>
	<p class='copyright-text'>SerotoninFix.com © Copyright 2017. All Rights Reserved</p>
</footer>