<nav>
	<ul class='container'>
		<li><%= link_to 'Home', root_path %></li>
		<div class='right-nav'>
			<li><a><%= fa_icon 'search' %></a></li>
			<li><a>About</a></li>
			<li><%= link_to 'Blog', blogs_path%></li>
			<li><%= link_to 'Recipe', recipes_path %></li>
			<li><a>Contact</a></li>
		</div>
	</ul>
</nav>